<h1>Http Resource - {{ loadPersons.status() }}</h1>
@let animalResult  = loadAnimals.value();
@if(loadAnimals.error()) {
  <i><b>Error ! {{loadAnimals.error() }}</b></i>
}

@for (animal of animalResult?.results; track animal.name) {
  <div>{{animal.name}}</div>
}
<!--
<h1>Resource - Rxjs {{ loadPersons.status() }}</h1>

@let persons = loadPersons.value();
@if(loadPersons.error()) {
  <i><b>Error ! {{loadPersons.error() }}</b></i>
}

<div [style]="{ opacity: loadPersons.isLoading() ? 0.1 : 1}">
  @for (person of persons; track person.name) {
    <div>{{person.name}}</div>
  }
</div>
-->

<h1>Resource - Promise {{ loadMovies.status() }}</h1>

@let movies = loadMovies.value();

@if(loadMovies.error()) {
  <i><b>Error ! {{loadMovies.error() }}</b></i>
}

<div [style]="{ opacity: loadMovies.isLoading() ? 0.1 : 1}">


  @for (movie of movies; track movie.title) {
    <div>{{movie.title}}</div>
  }
</div>

<button (click)="reloadData()" [disabled]="loadMovies.isLoading()">Reload movies</button>
<button (click)="reloadData()" [disabled]="loadMovies.isLoading()">Reload persons</button>

