<h1>Wookies</h1>
<table class="responsive-table highlight">
  <thead>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of list$ | async" class="wookie z-depth-2">
      <td>{{ item.name }}</td>
      <td>{{ item.size }}</td>
      <td>
        <a (click)="openEditDialog(item)" class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>
      </td>
    </tr>
  </tbody>
</table>

<a [routerLink]="['/']">Accueil</a>

