{{ collectForm.value | json }}

<form [formGroup]="collectForm" (ngSubmit)="save()">
  <mat-accordion class="example-headers-align" >
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle formGroupName="user">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Coordonnées
        </mat-panel-title>
        <mat-panel-description>
          Vos coordonnées
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Votre prénom</mat-label>
        <input matInput [errorStateMatcher]="matcher"  formControlName="surname">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" type="email"  formControlName="email">
      </mat-form-field>
      <mat-action-row>
        <button [disabled]="! userGroupIsValid" mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle formGroupName="game">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Game
        </mat-panel-title>
        <mat-panel-description>
          Décris la partie
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Game</mat-label>
        <mat-select formControlName="id">
          <mat-option>--</mat-option>
          @for (game of games$ | async; track game.id) {
            <mat-option value="{{game.id}}">{{game.label}}</mat-option>
          }
        </mat-select>
        @if (! gameIdIsValid) {
          <mat-error>Choisis une partie</mat-error>
        }
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button [disabled]="! gameIdIsValid" mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle formGroupName="network">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Réseaux sociaux
        </mat-panel-title>
        <mat-panel-description>
          Selection du réseau social
          <mat-icon>group</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <mat-form-field class="example-form-field">
              <mat-label>Réseau préféré</mat-label>
            @for (network of networks$ | async; track network.id) {
              <mat-card>
                <mat-card-content>
                  {{network.label}}
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)="selectNetwork(network)">Choisir</button>
                </mat-card-actions>
              </mat-card>
            }

            <input matInput [hidden]="true" formControlName="id">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            @if (selectedNetwork) {
              <mat-toolbar color="default">
                <mat-toolbar-row>
                  <span>{{ selectedNetwork.description }}</span>
                </mat-toolbar-row>
              </mat-toolbar>
            }

            @if (! networkIdIsValid) {
              <mat-toolbar color="warn">
                <mat-toolbar-row>
                  <span>Réseau obligatoire</span>
                </mat-toolbar-row>
              </mat-toolbar>
            }
          </mat-grid-tile>
        </mat-grid-list>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button [disabled]="! collectForm.valid" mat-button color="success" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</form>
