<h1>Combine latest</h1>

<div> {{ combined$ | async }}</div>

<h2>BMI</h2>
<div *ngFor="let item of bmi$ | async">
  <b>{{ item.weight }} : </b> {{ item.bmi }}
</div>

<h2>Formulaire</h2>
<form [formGroup]="datesForm">
  <input type="date" formControlName="startDate" />
  <input type="date" formControlName="endDate" />

  <div style="color: darkred; font-weight: bold;" *ngIf="datesForm.get('endDate')!.invalid">
    <i *ngIf="endDateBeforeStartDateError">Date de fin < date de début</i>
  </div>

  <button [disabled]="hasErrors">Save</button>
</form>
